<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>io.github.kirillkarmanov.Tunnelside.helper</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/PrivilegedHelperTools/io.github.kirillkarmanov.Tunnelside.helper</string>
	</array>
	<key>AssociatedBundleIdentifiers</key>
	<array>
		<string>io.github.kirillkarmanov.Tunnelside</string>
	</array>
	<key>MachServices</key>
	<dict>
		<key>io.github.kirillkarmanov.Tunnelside.helper</key>
		<true/>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Library/Logs/Tunnelside/helper.log</string>
</dict>
</plist>
